---
language: python

python:
    - '3.10'

install:
    - make dev_env

env:
    PYTHONPATH=$(pwd)

script:
    - make tests

# deploy to heroku
deploy:
    - provider: heroku
      api_key: $HEROKU_API_KEY
      app: se-spring2021-curator
      on: 
        repo: ep2572/curator
        branch: main
