/* Stylesheet for curator */
:root {
    --theme:    #8393CA; /*main*/
    --theme2:   #54659F; /*hover*/
}

/* For chat.html */
#header {
    background-color: rgba(0, 0, 0, 0.1);
    color:white;
    padding:5px;
}
#textbox {
    width:375px;
    height:750px;
    background-color: rgba(0, 0, 0, 0.1);
    position:absolute;
}
#board {
    width:100%;
    height:100%;
}

#color-selector {
    text-align: center;
    position: fixed;
    padding: 0;
    right: 20px;
    bottom: 20px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: 5px solid white;
}

#slider-weight {
    position: fixed;
    right: -95px;
    bottom: 70px;
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}

/* For  */
.home {
    background-color: var(--theme);
    color: white;
    font: 10pt arial, sans-serif;
}

.error {
    color: red;
    font: 10pt arial, sans-serif;
}

.bar span {
    width: auto;
    height: 5px;
    background-color: var(--theme);
}

.titleimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

h1 {
    text-align: center;
    color: white;
    font: 900 48pt arial, sans-serif;
    margin: 0px;
}

h2 { /* Home Page headers */
    font: bolder 24pt arial, san-serif;
    color: var(--theme);
    text-align: center;
}

.homeCard {
    margin: auto;
    padding: 10px;
    height: auto;
    position: relative;
    text-align: center;
    max-width: 600px;
    background-color: white;
    border-radius: 15px;
}

input {
    margin: 5px;
    padding: 2px;
    background-color: white;
    border-block-width: 1px;
    border-block-color: lightgray;
    color: gray;
    text-align: center;
}

input[type=submit] {
    margin: 10px;
    padding: 10px;
    background-color: var(--theme);
    border-radius: 10px;
    color: white;
    font: bold 14pt arial, sans-serif;
    border: none;
    max-height: 100px;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: var(--theme);
    border-radius: 10px;
    color: white;
    font: bold 14pt arial, sans-serif;
    border: none;
    max-height: 100px;
}

button:hover { background-color: var(--theme2); }
