/* Stylesheet for curator */
:root {
    --theme:    #8393CA; /*main*/
    --theme2:   #54659F; /*hover*/
}

.home {
    background-color: var(--theme);
    color: white;
    font: 10pt arial, sans-serif;
}

.bar span {
    width: auto;
    height: 5px;
    background-color: var(--theme);
}

.titleimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

h1 {
    text-align: center;
    color: white;
    font: 900 48pt arial, sans-serif;
    margin: 0px;
}

h2 { /* Home Page headers */
    font: bolder 24pt arial, san-serif;
    color: var(--theme);
    text-align: center;
}

.homeCard {
    margin: auto;
    padding: 10px;
    height: auto;
    position: relative;
    text-align: center;
    max-width: 600px;
    background-color: white;
    border-radius: 15px;
}

input {
    margin: 5px;
    padding: 2px;
    background-color: white;
    border-block-width: 1px;
    border-block-color: lightgray;
    color: gray;
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: var(--theme);
    border-radius: 10px;
    color: white;
    font: bold 14pt arial, sans-serif;
    border: none;
    max-height: 100px;
}

button:hover { background-color: var(--theme2); }