<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{room_name}}</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>
<body>
  <h1 class="channel-title">
    {{room_name}}
  </h1>
  <br>
  <div class="channels">
    <a class="channel" href="#">Room 1</a>
    <a class="channel" href="#">Room 2</a>
    <a class="channel" href="#">Room 3</a>
  </div>
  <br>
  <h2>Chat Box</h2>
  <textarea class="text-area" rows="50" cols="50"></textarea><br><br>
  <input type="text" class="enter" size="50" placeholder="Type Enter to Chat" value=""><br><br>
  <script type="text/javascript" charset="utf-8">

    var log = function() {
      console.log.apply(console, arguments)
    }

    var socket;

    var current_channel = ''

    var change_title = function(channel) {
      if(!channel) {
        $('.channel-title').text('no room');
      }
      else {
        $('.channel-title').text(channel + ' room')
      }
    };

    var clear_board = function() {
      $('.text-area').val('');
      log('clear')
    }

    $(document).ready(function() {
      socket = io.connect('ws://' + document.domain + ':' + location.port + '/chat');
      log('mylog', socket)

      socket.on('connect', function() {
        log('connect');
      });

      socket.on('status', function(data) {
        $('.text-area').val($('.text-area').val() + '<' + data.server_to_client + '>\n')
      });

      socket.on('message', function(data) {
        var Username = data.user_name
        var text = data.text
        $('.text-area').val($('.text-area').val() + '<' + Username + ':' + text + '>\n')
      });

      $('.channel').on('click', function(e) {
        clear_board()
        if (current_channel) {
            socket.emit('leave', {'client_to_server': current_channel});
        };

        current_channel = $(this).text();
        change_title(current_channel)
        socket.emit('join', {'client_to_server': current_channel});
        log('socket.emit jonedxxxxxxxxx')

      })

      $('.enter').keypress(function(e) {
          var code = e.keyCode || e.which;
          if (code == 13) {
              if (!current_channel)
              {
                  log("no current_channel:", current_channel);
                  $('.enter').val('');
                  alert('-----')
                  return;
              }
              var Texttext = $('.enter').val();
              $('.enter').val('');
              socket.emit('text', {'client_to_server': current_channel, 'text': Texttext});
          }
      });
    });


  </script>


</body>
</html>
