<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>curator: The image review and discussion app</title>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" media="screen">
</head>
<body class="home">
    <!--<h1>curator.</h1>-->
    <img alt="curator." class="titleimg" src="static/img/title.svg">
    <div class="homeCard" id="homeCard">
        <h2>Join an existing room</h2>
		{% if join_err %}
		<p class="error"><strong>Error:</strong> {{join_err}}</p>
		{% endif %}
        <form action="/join_room" method="POST">
            <input type="text" name="user_name" placeholder="Username"><br>
            <input type="text" name="room_key" placeholder="Room Key"><br>
            <button>Join</button>
        </form>

        <hr class="solid" color="#8393CA">

        <h2>Create a new room</h2>
		{% if make_err %}
		<p class="error"><strong>Error:</strong> {{make_err}}</p>
		{% endif %}
        <form action="/make_room" method="POST">
            <input type="text" for="user" name="user_name" placeholder="Username"><br>
            <input type="text" for="room" name="room_name" placeholder="Room Name"><br>
            <input type="text" for="cap" name="capacity" placeholder="Capacity (max: 32)"><br>
            <input type="text" for="warning" name="note" placeholder="Note"><br>
            <button>Create</button>
        </form>
        <button style="position:absolute; padding: 5px 5px 2px;right:10px; bottom:10px;"><img alt="Info" width="25px" height="25px" src="static/img/info.svg"></button>
    </div>
    <p style="text-align: center;">
        &copy; 2021. Chuwei Guo, Luanhao Lu, Evan Petersen, Bowen Yu, Shucong Zhou<br>
        Made at NYU-Tandon School of Engineering under the guidance of Professor Eugene Callahan.
    </p>
    
</body>
</html>
